@using System.Web.UI.WebControls
@model Xero.Api.Example.MVC.Models.PracticeView

@{
    ViewBag.Title = "Practice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Practice Details</h2>

@using (Html.BeginForm())
{
    <div>Client: @Html.DropDownList("ClientId", new SelectList(Model.Clients.Select(c => new ListItem {Text = c.DisplayName, Value = c.Id}), "Value", "Text"))</div>
    <div>Alert Type: @Html.TextBox("AlertType", "CLIENT_ALERT_TEST")</div>
    <div>App Name: @Html.TextBox("AppName", "Xero.Api.Example.MVC Test App")</div>
    <div>Action: @Html.TextBox("ActionLabel", "View")</div>
    <div>Link: @Html.TextBox("ActionLink", "http://www.xero.com")</div>

    <input type="submit" value="Create Alert" />
}

@if (Model.Alert != null)
{
    <h2>Alert Details</h2>
    <div>Id: @Model.Alert.Id</div>
    <div>Type: @Model.Alert.Type</div>
    <div>TargetType: @Model.Alert.TargetType</div>
    <div>TargetId: @Model.Alert.TargetId</div>
}

@if (Model.Errors.Any())
{
    foreach (var error in Model.Errors)
    {
        <div>@error.Title</div>
        <div>@error.Details</div>
    }
}
